*{
    margin: 0;
    padding: 0;
    
}
html {
    
    height: 100%;
}
    body{
    min-height: 100%;
  } 


  .bg-container {
    background-image: url('../images/nature-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

.page-container{
    top: 8%;
    position: absolute;
    width: 100%;
    border: none;
    
}
.page{
    margin: 55px auto;
    max-width: 1238px;

}

.content-box{
    /* border: 1px solid black; */
    box-shadow: 0 0 3px 1px rgba(247, 216, 115, 0.871) ;
    background-color: rgba(255, 255, 221, 0.87);
    padding: 50px 50px 25px 50px ;
    
    
    
    

}

.page header{
    text-align: center;
}
.home-page .page-content{
    text-align: center;
    font-size: 25px;
}
.home-page .page-content blockquote{
    text-align: right;
    font-size: 17px;

}
.content-box header.contact-header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: start;
}
    .contact-form{
        background-color: rgba(231, 231, 200, 0.938);
        border: 1px solid black;
        border-radius: 15px;
        padding: 10px;
    }


header.contact-header p {
    margin-left: 25px ;
    
}

.home-page button{
    padding: 9px 25px;
    margin: 0px 4px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0ms;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    width: 190px;
    height: 60px;
    background-color: #21aa21;
    color: black;
    border: 1px solid #21aa21;
}



nav * {
    font-family: 'Montserrat', sans-serif; 
    padding: 0;
    margin: 0;
}
.navBar {
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    position: fixed;
    background-color: teal;
    padding: 15px 0px;
    min-height: 7vh;
    
   }
.navBar li, button{
    font-weight: 500;   
    font-size: 17px;
}
.nav-logo img {
    height: 35px;
    width: 35px;
    display: inline-block;
    vertical-align: baseline;
}
        .nav-flex-item-1, .nav-flex-item-3{
            display: inline-block;
            flex-grow: 1;
            text-align: center;
        }
        .nav-flex-item-2, .nav-flex-item-4{
            flex-grow: 2;
            text-align: center;
        }
            .navBar .nav-logo {
                display: inline-block;
                margin: 0;
                padding: 0;
                color: black;
                text-decoration: none;
                font-weight: 600;
                letter-spacing: 2px;
                font-size: 30px;
                text-align: center;
            }
            .navBar .nav-logo:hover{
                text-decoration: none;
                color:black;
                cursor: pointer;
            }
            .nav-links{
                margin: 0;
                padding: 0;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
            }
                .nav-links li {
                    list-style: none;
                    display: inline-block;
                }
                .nav-links li a {
                    color: rgb(243, 243, 211);
                    text-decoration: none;
                    letter-spacing: 3px;
                    transition: all 0.3s ease 0s;
                }
                .nav-links li a:hover {
                    color: violet;
                }
                .nav-login{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                }
                                            
                    .nav-login a button {    
                        padding: 9px 25px;
                        margin: 0px 4px;
                        border-radius: 50px;
                        cursor: pointer;
                        transition: all 0.3s ease 0ms;
                        display: inline-block;
                        text-align: center;
                        text-decoration: none;
                        outline: none;
                    }
                    .logInButton {
                            width: 120px;
                            background-color: #21aa21;
                            color: black;
                            border: 1px solid #21aa21;
                        }
                    .registerButton{
                            background-color: rgba(1, 146, 146, 0);
                            color: white;
                            border: 1px solid white;
                        }
                        .logInButton:hover{
                            box-shadow: 0px 0px 2px 1px #464646;
                            transform: translateY(-1px);
                        }

                        .registerButton:hover{
                            box-shadow: 0px 0px 2px 1px #ffffff;
                        }


            .burger{
                display: none;
                cursor: pointer;
            }
                .burger div{
                    width: 25px;
                    height: 2px;
                    background-color: white;
                    margin: 3px;
                    transition: all 0.3s ease;
                }
            





@media screen and (max-width:864px){
    .nav-links{
        margin-top: 15px;
        position: absolute;
        right: 0px;
        height: 60vh;
        background-color: rgb(1, 112, 112);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-flex-item-4{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 

.nav-active{
    transform: translateX(0%);
    transition: transform 0.5s ease-in;  
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);   
}